/*-----------------*/
/*----- FONTS -----*/
/*-----------------*/
$font-main: 'Muli', sans-serif;

/*------------------*/
/*----- COLORS -----*/
/*------------------*/
$color-flat-black: #333;
$color-white: #ffffff;
$color-proairblue: #363DA7;
