/*-----------------*/
/*----- FONTS -----*/
/*-----------------*/
$font-main: 'Muli', sans-serif;

/*------------------*/
/*----- COLORS -----*/
/*------------------*/
$color-flat-black: #141414;
$colot-white: #ffffff;
