@import "variables";
// $navbar-height: 50px;
// $navbar-margin-bottom: 10px;

/* Remove margins and padding from the list, and add a black background color */
/* Float the list items side by side */
/* Style the links inside the list items */
/* Change background color of links on hover */
/* Hide the list item that contains the link that should open and close the topnav on small screens */
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
.navbar {
	font-family: $font-main;
  ul {
    margin: -10px;
    padding: -10px;
    list-style: none;
    overflow: hidden;
    background-color: $color-flat-black;
    img {
      float: left;
      padding: 10px;
    }
    li {
  		float: right;
			padding: 25px 25px;
			a {
				position: relative;
  			display: inline-block;
  			color: $color-white;
  			text-align: center;

  			text-decoration: none;
  			font-size: 16px;
  			&:before {
					content: "";
				  position: absolute;
					width: 100%;
				  height: 2px;
				  bottom: -3px;
				  left: 0px;
				  background-color: $color-white;
				  visibility: hidden;
				  -webkit-transform: scaleX(0);
				  transform: scaleX(0);
				  -webkit-transition: all 0.3s ease-in-out 0s;
				  transition: all 0.3s ease-in-out 0s;
				}
				&:hover:before {
				  visibility: visible;
				  -webkit-transform: scaleX(1);
				  transform: scaleX(1);
				}
  		}

      &:last-child {
        border-left: none;
      }
  	}

  	li.icon {
  		display: none;
  	}
  }

}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:last-child) {display: none;}
  ul.topnav li.icon {
    float: left;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
