@import "variables";

.container {
	max-width: 960px;
}

section.module {
  font-family: $font-main;
	color: $color-flat-black;
	position: relative;
  text-align: center;
  padding: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
  align-items: center;
  justify-content: center;
	flex-wrap: nowrap;
	&:last-child {
		margin-bottom: 0;
	}
	h2 {
    padding: 10px;
    font-size: 30px;
	}
	p {
    padding: 25px;
    margin-bottom: 40px;
		font-size: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	// button {
	// 	border-radius: 25px;
	// 	font-size: 1.2em;
	// 	line-height: 1.2em;
	// 	color: $color-flat-black;
  //   background-color: transparent;
	// 	border-color: $color-proairblue;
  //   width: 200px;
  //   height: 50px;
	// 	-webkit-transition: all 0.2s ease-in-out 0s;
	// 	transition: all 0.2s ease-in-out 0s;
	// 	&:focus{
	// 		outline: none;
	// 	}
	// 	&:hover{
	// 		background-color: $color-proairblue;
	// 		color: $color-white;
	// 	}
	// }
}

section.module.content {
	padding: 100px 0;
  background: $color-white;
}

section.module.parallax {
  height: 400px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: $font-title;
		color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
		text-transform: uppercase;
		text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
	img {
		margin-top: 50px;
		max-width: 200px;
		max-height: 200px;
	}
}
section.module.parallax-1 {
  background-image: linear-gradient(
                     rgba(20,20,20, .3),
                     rgba(20,20,20, .3)),
                     url($folder-images + "parallex1test.jpg");
}
section.module.parallax-2 {
  background-image: linear-gradient(
                     rgba(20,20,20, .3),
                     rgba(20,20,20, .3)),
                     url($folder-images + "parallex2test.jpg");
}
section.module.parallax-3 {
  background-image: linear-gradient(
                     rgba(20,20,20, .3),
                     rgba(20,20,20, .3)),
                     url($folder-images + "parallex3test.png");
}
@media all and (min-width: 600px) {
	section.module {
		h2 {
			font-size: 42px;
		}
		p {
			font-size: 20px;
		}
		// button {
		// 	border-radius: 25px;
		// 	font-size: 1.0em;
		// 	line-height: 1.0em;
		// }
	}
	section.module.parallax {
    height: 450px;
		h1 {
			font-size: 96px;
		}
	}
}
@media all and (min-width: 960px) {
	section.module.parallax {
    height: 500px;
		h1 {
			font-size: 160px;
		}
	}
}
