@import "variables";
.careerListings
{
  list-style: none;
  width: calc(100% - 80px);
  .listing
  {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    vertical-align: middle;
    .title
    {
      flex-basis: 100%;
      text-align: left;
      font-size: 22px;
      padding: 0;
      margin: 0;
    }
  }
  .bar {
    position: relative;
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    background: $color-proairblue;
  }
}
