@import "variables";

.contactUsSheet
{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: auto;
  padding: 15px;
  left: 0;
  top: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  font-family: $font-main;
  z-index: 300;
  visibility: visible;
  opacity: 1;
  &.inactive
  {
    visibility: hidden;
    opacity: 0;
  }
  div
  {
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 25px;
    border-radius: 5px;
    width: calc(100% - 50px);
    max-width: calc(900px - 50px);
    max-height: calc(650px - 50px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $color-white;
    color: $color-flat-black;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    ul
    {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      width: 100%;
      padding: 0;
      list-style: none;
      li {
    		padding: 5px 25px;
  		}
    }
    &.inactive
    {
      transform: translate3d(0, -25vw, 0);
      opacity: 0;
    }
  }
}
