.iconDescriptor
{
  position: relative;
  list-style: none;
  margin: 0 auto;
  max-width: 960px;
  padding:10px;
  display: inline-block;
  li
  {
    width: auto;
    padding:10px;
  }
}

.descriptor
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  margin: 0;
  justify-content: center;

  .iconContainer
  {
    vertical-align: middle;
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
  }
  .icon
  {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    &.cold
    {
      //Source: http://www.iconsdb.com/custom-color/fridge-icon.html
      background-image: url("https://firebasestorage.googleapis.com/v0/b/proair-web.appspot.com/o/cold.png?alt=media&token=00b2d45f-ca40-4ae8-bd0e-315c6836fd6a");
    }

    &.electrical
    {
      //Source: http://www.iconsdb.com/custom-color/speedometer-icon.html
      background-image: url("https://firebasestorage.googleapis.com/v0/b/proair-web.appspot.com/o/electrical.png?alt=media&token=811b49b7-ba2b-44ec-8214-b09fe40e4945");
    }

    &.electrical_alt
    {
      //Source: http://www.iconsdb.com/custom-color/speedometer-icon.html
      background-image: url("https://firebasestorage.googleapis.com/v0/b/proair-web.appspot.com/o/electrical-alt.png?alt=media&token=200539aa-c254-4832-8f71-b1a0b1acb61f");
    }

    &.fire
    {
      //Source: http://www.iconsdb.com/custom-color/fire-icon.html
      background-image: url("https://firebasestorage.googleapis.com/v0/b/proair-web.appspot.com/o/fire.png?alt=media&token=3b91c561-3018-4c45-81a5-b4b3051cce68");
    }

    &.hvac
    {
      background-image: url("https://firebasestorage.googleapis.com/v0/b/proair-web.appspot.com/o/hvac.png?alt=media&token=8cdd2236-128e-4a55-9237-17f3a45bb4e2");
    }
  }
  .description
  {
    @media(max-width: 414)
    {
      padding-top: 0;
    }
    flex-basis: 100%;
    text-align: left;
    margin-top: 0;
    font-size: 16px;
    margin-right: 25px;
  }
}
