@import "variables";

.roundedButton
{
  padding: 0;
  font-family: $font-main;
  font-size: 1.0em;
  line-height: 1.0em;
  color: $color-flat-black;
  background-color: transparent;
  border: 2px solid;
  border-radius: 25px;
  border-color: $color-proairblue;
  width: 200px;
  height: 40px;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  &:focus
  {
    outline: none;
  }
  &:enabled:hover
  {
    font-size: 1.1em;
    color: $color-white;
  }
  &:disabled
  {
    color: lighten($color-flat-black, 50%);
    border-color: lighten($color-flat-black, 50%);
  }
  &.cancel
  {
    &:enabled:hover
    {
      border-color: $color-flat-red;
      background-color: $color-flat-red;
    }
  }
  &.default
  {
    &:enabled:hover
    {
      background-color: $color-proairblue;
    }
  }
}
